*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

*{
	background: #f0eeee;
	font-family: 'Raleway', sans-serif;
}

header{
	width: 100%;
	height:600px;
	
}

#foto_perfil{
    float: left;
}
h1,h4{
    text-align: center;
}